<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>About</title>
</head>
<body>
    <header>
        <a href="/travels">Travels</a>
        <a href="/home">Home</a>
        <a href="/gallery">Gallery</a>
        <h1>About Cassiel</h1>
    </header>
    <article class="general">Hey! I'm Cassiel! A shiba inu.<br> I was born in Zaragoza on January 10. <br>
        I'm a Kuroshiba. It's means that i'm a black shiba, but i have brown and white colours too. <br>
        I don't have many friends beacause my personality is cold (cause i'm a nordic dog). <br>
        But i love my family and we have a lot adventures together!
    </article>
</body>
</html>