<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Gallery</title>
</head>
<body>
    <header>
        <a href="/about">About</a>
        <a href="/home">Home</a>
        <a href="/travels">Travels</a>
        <h1>Cassiel's gallery</h1>
    </header>
    <div class="gallery">
        <img class ="photo" src="/images/Boda.jpeg" alt="Bodorrio">
        <img class ="photo" src="/images/Bosque.jpeg" alt="Bosque">
        <img class ="photo" src="/images/Ducha.jpeg" alt="Duchita fresquita">
        <img class ="photo" src="/images/Durmiendo.jpg" alt="Siesta">
        <img class ="photo" src="/images/Nieve.jpg" alt="Nieve">
        <img class ="photo" src="/images/Playa.jpeg" alt="Playa">
        <img class ="photo" src="/images/Rio.jpg" alt="Rio">
        <img class ="photo" src="/images/spa.jpg" alt="Spa">
    </div>
</body>
</html>