<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Travels</title>
</head>
<body>
    <header>
        <a href="/about">About</a>
        <a href="/home">Home</a>
        <a href="/gallery">Gallery</a>
        <h1>Cassiel's travels</h1>
    </header>
    <div>
        <article class="travels">
            We make a lot of travels. <br>
            These are some places where we stayed. <br>
            <li>
                <ul>Sant Pol beach</ul>
                <ul>Montseny</ul>
                <ul>A town in french pirineo</ul>
                <ul>Vall de Nuria</ul>
                <ul>Vielha</ul>
                <ul>Mataro</ul>
                <ul>...</ul>
            </li>
            Some pictures about these travels in the gallery.
        </article>
    </div>
</body>
</html>